# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Secrets
local.properties
.env
secret.json
.python-version
.venv

# Build and Gradle
.gradle/
build/
**/build/
**/intermediates/
**/outputs/
**/tmp/

# Kotlin and Java
*.class
*.kt.keep
*.kts.keep

# Artifacts and Scratch
.artifacts/
scratch/
